@model ExpenseTracker.Application.ViewModels.DetailedCategory.ListDetailedCatForListVm

@{
    ViewData["Title"] = "DetailedCategory";
}

<h1 style="margin-top:33px;">@Model.MainCategoryName</h1>
<h4 style="font-size:17px; margin-bottom:30px;">Szczegółowe kategorie</h4>
<p>
    <a asp-action="CreateDetailedCategory" asp-route-mainCategoryId="@Model.MainCategoryId" class="btn btn-dark" style="background-color: #565ee4; margin-top:10px; margin-bottom:10px;" >Dodaj kolejną podkategorię</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Lp.
            </th>
            <th>
                Nazwa
            </th>
        </tr>
    </thead>
    <tbody>
        @{ int num = 0;}
@foreach (var item in Model.DetailedCategories) {
        <tr>
            <td>
                @{ num++;}
                @num.
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edytuj", "EditDetailedCategory", new { detailedCategoryId=item.Id  }) |
                @Html.ActionLink("Usuń", "DeleteDetailedCategory", new { detailedCategoryId = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a asp-action="Index" class="btn btn-outline-secondary">Wróć do listy głównych kategorii</a>
</p>

