@model ExpenseTracker.Application.ViewModels.MainCategory.ListMainCatForListVm

@{
    ViewData["Title"] = "Index";
}

<h1 style="margin-top:33px;">Główne kategorie</h1>

<p>
    <a asp-action="CreateMainCategory" class="btn btn-dark" style="background-color: #565ee4; margin-top:10px; margin-bottom:10px;" >Dodaj główną kategorię</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Lp.
            </th>
            <th>
                Nazwa
            </th>
        </tr>
    </thead>
    <tbody>
        @{int num = 0;} 
@foreach (var item in Model.MainCategories) {
        <tr>
            <td>
                @{ num++;}
                @num.
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edytuj", "EditMainCategory", new { mainCategoryId = item.Id  }) |
                @Html.ActionLink("Usuń", "DeleteMainCategory", new { mainCategoryId = item.Id  }) |
                @Html.ActionLink("Dodaj podkategorię", "CreateDetailedCategory", new { mainCategoryId = item.Id  }) |
                @Html.ActionLink("Pokaż listę podkategorii", "DetailedCategory", new {  mainCategoryId=item.Id  })
            </td>
        </tr>
}
    </tbody>
</table>
