@model ExpenseTracker.Application.ViewModels.PlannedExpense.PlannedExpensesOfAllDetailedCatVm

@{
    ViewData["Title"] = "GetPlannedExpenesesOfMainCategory";
}

<h1 style="margin-top:50px; margin-bottom:50px;">@Model.MainCategoryName</h1>

<h3>
    @Model.MonthOfYear.ToString("MMMM yyyy").ToUpper()
</h3>
@if (Model.Count == 0)
{
    <p>Brak kategorii szczegółowych. Dodaj kategorię, by zaplanować wydatki na ten miesiąc...</p>
}
else
{
    @if (Model.Count > 0)
    {
        <table class="table">
            <thead style="background-color:#d0d2d7;">
                <tr>
                    <th>
                        Kategoria
                    </th>
                    <th>
                        Zaplanowane wydatki
                    </th>
                    <th>
                        Aktualnie wydano
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.PlannedExpOfDetailedCat)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DetCategoryName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PlannedAmount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SpentAmount)
                        </td>
                        <td>
                            @Html.ActionLink("Edytuj kwotę zaplanowanych wydatków", "EditPlannedExpsOfDetailedCatPerMonth", new { plannedExpenseId = item.Id })|
                            @Html.ActionLink("Pokaż wydatki", "GetExpensesOfDetailedCatPerMonth", "Expense", new { monthOfYear = Model.MonthOfYear.ToString("dd.MM.yyyy"), detailedCategoryId = item.DetailedCategoryId })

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Brak zaplanowanych wydatków na ten miesiąc...</p>
    }
}

@{
    var parmsToPrevious = new Dictionary<string, string>
{
        { "monthOfYear", Model.MonthOfYear.AddMonths(-1).ToString() },
        { "mainCategoryId", Model.MainCategoryId.ToString()}
    };
    var parmsToNext = new Dictionary<string, string>
{
        { "monthOfYear", Model.MonthOfYear.AddMonths(1).ToString() },
        { "mainCategoryId", Model.MainCategoryId.ToString()}
    };
}
<div class="row">
    <a class="btn btn-success" style="margin-right:13px" asp-action="GetPlannedExpensesOfMainCategory" asp-all-route-data="@parmsToPrevious">Poprzedni miesiąc</a>
    <a class="btn btn-success" asp-action="GetPlannedExpensesOfMainCategory" asp-all-route-data="@parmsToNext">Następny miesiąc</a>
</div>
<p>
    <a class="btn btn-outline-secondary" style="margin-top:15px" asp-action="Index" asp-route-currentDate="@Model.MonthOfYear.ToString("d")">Wróć do listy głównych kategorii</a>
</p>
