@model ExpenseTracker.Application.ViewModels.PlannedExpense.PlannedExpensesOfAllMainCatVm

@{
    ViewData["Title"] = "Index";
}

<h1 style="margin-top:50px; margin-bottom:50px;">Zestawienie budżetu i wydatków</h1>

<h3>
    @Model.MonthOfYear.ToString("MMMM yyyy").ToUpper()
</h3>
@if (Model.Count > 0)
{
    <table class="table">
        <thead style="background-color:#d0d2d7;">
            <tr>
                <th>
                    Kategoria
                </th>
                <th>
                    Zaplanowane wydatki
                </th>
                <th>
                    Aktualnie wydano
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.PlannedExpOfMainCat)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PlannedAmount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SpentAmount)
                    </td>
                    <td>
                        @Html.ActionLink("Pokaż szczegóły", "GetPlannedExpensesOfMainCategory", new { monthOfYear=Model.MonthOfYear, mainCategoryId=item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>
        <a class="btn btn-dark" style="background-color: #565ee4; margin-top:10px; margin-bottom:10px;" asp-action="PlanExpensesPerMonth" asp-route-monthOfYear="@Model.MonthOfYear">Zaplanuj wydatki</a>
    </p>
    <p>Brak zaplanowanych wydatków na ten miesiąc...</p>
}

<div class="row">
    <a class="btn btn-success" style="margin-right:13px" asp-action="Index" asp-route-monthOfYear="@Model.MonthOfYear.AddMonths(-1)">Poprzedni miesiąc</a>
    <a class="btn btn-success" asp-action="Index" asp-route-monthOfYear="@Model.MonthOfYear.AddMonths(1)">Następny miesiąc</a>
</div>

