@model ExpenseTracker.Application.ViewModels.PlannedExpense.ListNewPlannedExpensePerMonthVm

@{
    ViewData["Title"] = "PlanExpensesPerMonth";
}

<h1 style="margin-top:50px; margin-bottom:45px;">Zaplanuj wydatki na dany miesiąc</h1>

<h3>
    @Model.MonthOfYear.ToString("MMMM yyyy").ToUpper()
</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="PlanExpensesPerMonth">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="@Model.MonthOfYear" class="form-control" />
            </div>
            @for (int i = 0; i < Model.PlannedExpenses.Count; i++)
            {
                <div class="form-group">
                    <input type="hidden" asp-for="@Model.PlannedExpenses[i].DetailedCategoryId" />
                    <input type="hidden" asp-for="@Model.PlannedExpenses[i].DetailedCategoryName" />
                    <label class="control-label">@Model.PlannedExpenses[i].DetailedCategoryName</label>
                    <input asp-for="@Model.PlannedExpenses[i].Amount" class="form-control" />
                    <span asp-validation-for="@Model.PlannedExpenses[i].Amount" class="text-danger"></span>
                </div>
            }
            <div class="form-group" style="float:left; margin-right:8px;">
                <input type="submit" value="Utwórz" class="btn btn-primary" />
            </div>
            <div>
                <a class="btn btn-outline-secondary"  asp-action="Index" asp-route-currentDate="@Model.MonthOfYear.ToString("d")">Cofnij</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
