@model ExpenseTracker.Application.ViewModels.Expense.ListDetCatExpenseForListVm

@{
    ViewData["Title"] = "GetExpensesOfDetailedCatPerMonth";
}

<h1 style="margin-top:50px; margin-bottom:50px;">@Model.DetailedCategoryName</h1>

<h3>
    @Model.MonthOfYear.ToString("MMMM yyyy").ToUpper()
</h3>

<table class="table">
    <thead style="background-color:#d0d2d7;">
        <tr>
            <th>
                Lp.
            </th>
            <th>
                Nazwa
            </th>
            <th>
                Kwota
            </th>
            <th>
                Data
            </th>
        </tr>
    </thead>
    <tbody>
        @{int num = 0;
            string date = "";}
        @foreach (var item in Model.Expenses)
        {
            <tr>
                <td>
                    @{ num++;}
                    @num.
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @{date = item.Date.ToString("d");}
                    @date
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var parms = new Dictionary<string, string>
{
        { "monthOfYear", Model.MonthOfYear.ToString() },
        { "mainCategoryId", Model.MainCategoryId.ToString()}
    };
}
<p>
    <a class=" btn btn-outline-secondary" asp-action="GetPlannedExpensesOfMainCategory" asp-controller="PlannedExpense" asp-all-route-data="@parms" }>Wróć do głównej kategorii</a>
</p>
