@model ExpenseTracker.Application.ViewModels.Expense.ListExpenseForListVm

@{
    ViewData["Title"] = "Index";
}
@*@System.Globalization.CultureInfo.CurrentUICulture*@

<h1 style="margin-top:33px;">Twoje wydatki</h1>

<a asp-action="CreateExpense" class="btn btn-dark" style="background-color: #565ee4; margin-top:10px;">Dodaj nowy</a>

<form asp-action="Index" asp-controller="Expense" method="post">
    <div class="row" style="margin-bottom:10px; margin-top:30px;">
        <input style="margin-right:5px;" type="month" asp-for="MonthOfYear" name="chosenDate"/>
        <input type="hidden"  asp-for="UserId"/>
        <input class="btn btn-success my-2 my-sm-0" type="submit" value="Wyszukaj" />
    </div>
</form>
<div class="row">
    <table class="table">
        <thead style="background-color:#d0d2d7;">
            <tr>
                <th>
                    Lp.
                </th>
                <th>
                    Nazwa
                </th>
                <th>
                    Kwota
                </th>
                <th>
                    Data
                </th>
                <th>
                    Kategoria
                </th>
            </tr>
        </thead>
        <tbody>
            @{int num = 0;
                string date = "";}
            @foreach (var item in Model.Expenses)
            {
                <tr>
                    <td>
                        @{ num++;}
                        @num.
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @{date = item.Date.ToString("d");}
                        @date
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    <td>
                        @Html.ActionLink("Edytuj", "EditExpense", new { expenseId = item.Id }) |
                        @Html.ActionLink("Usuń", "DeleteExpense", new { expenseId = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
