@model ExpenseTracker.Application.ViewModels.Expense.ListExpenseForListVm

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="CreateExpense">Dodaj nowy wydatek</a>
</p>
<p>
<a asp-controller="Category" asp-action="Index">Główne kategorie</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Lp.
            </th>
            <th>
                Nazwa
            </th>
            <th>
                Kwota
            </th>
            <th>
                Data
            </th>
            <th>
                Kategoria
            </th>
        </tr>
    </thead>
    <tbody>
        @{int num = 0;
            string date = "";}
        @foreach (var item in Model.Expenses)
        {
            <tr>
                <td>
                    @{ num++;}
                    @num.
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @{date = item.Date.ToString("d");}
                    @date
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.ActionLink("Edytuj", "EditExpense", new { expenseId = item.Id }) |
                    @Html.ActionLink("Usuń", "DeleteExpense", new { expenseId = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
